@import url('https://fonts.googleapis.com/css2?family=Arvo&display=swap'); 
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@700&display=swap');
*{
    margin: 0;
    padding: 0;
}

/* section header style */

#header{
    background-color:  rgba(254,215,0,1);
    padding: 5px;
    position: sticky;
    top: 0;
}




/* left side of header */
.header-left{
    padding: 0 20px;
}

.header-left>div>a{
    text-decoration: none;
    color: black;
    text-transform: capitalize;
}

/* logo inside the header */
#logo-name{
    padding:  0 15px;
    font-size: 20px;
    font-family: 'Arvo', serif;
}
#logo-img{
    width:40px;
}


/* right part of header */
.header-right{
    padding: 0 20px;
    padding-right: 100px;
}

#navbar ul{
    display: flex;
}

#navbar ul a{
    padding: 10px 5px;
    margin: 0 10px;
    text-decoration: none;
    letter-spacing: .2px;
    color: black;
    font-family: 'Lato', sans-serif;
    transition-duration: .10s;
}

#navbar ul a:hover{
    opacity: .7;
    text-decoration: underline;
}

#navbar ul a:active{
    opacity: .9;
}

/* search box in right side of header */
#search{
    padding: 0 20px;
    visibility: hidden;
}


/* footer style */
footer{
    background-color: black;
    color: white;
    padding: 30px 0;
}

#footer-left{
    row-gap: 10px;
}

#footer-right{
    flex: 50%;
}

#footer-right>p{
    color: black;
    font-size: 50px;
    text-shadow: 3px 3px 3px white,
                -2px -2px 3px green;
    text-transform: capitalize;

}