#product{
    display: flex;
    padding: 10px 0;
}

.product-heading{
    padding: 10px 0 30px 0 ;
    font-size: 33px;
    text-decoration: underline;
    text-transform: capitalize;
    font-family: 'Arvo', serif;
}

.proudct-items-container{
    row-gap: 50px;
}

.proudct-items-container>div{
    column-gap: 30px;
}

/* proudct image */
.proudct-img-container{
    flex: 20%;
}

.product-img{
    width: 100%;
    height: 100%;
}



/* product description */
.product-description{
    flex: 50%;
    row-gap: 30px;
}


.product-heading-container{
    row-gap: 10px;
}


.product-description-heading{
    font-size: 22px;
    text-transform: capitalize;
    display: block;
    font:bold;
}

.product-name{
    display: block;
    font-size: 26px;
    text-transform: capitalize;
    font-family: 'Arvo', serif;
}

.prouct-description-content{
    row-gap: 10px;
}


.product-description ul{
    row-gap: 5px;
}
.product-description ul li{
    font-size: 18px;
    transition-duration: .3s;
    text-transform: capitalize;
}

.product-description ul li:hover{
    transform: scale(1.05);
}

/* price box style */
.price-container{
    padding: 5px;
    row-gap: 10px;
}


.price-without-discount{
    color: red;
    font-size: 24px;
    text-decoration: line-through;
    font: bolder;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.price-discount{
    font-size: 26px;
    padding: 10px 20px;
    background-color: grey;
    border-radius: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}



/* buy button style */
.buy-now{
    text-decoration: none;
    padding: 10px;
    margin: 5px ;
    font-size: 18px;
    background-color: rgb(246, 25, 25);
    align-self: flex-start;
    letter-spacing: .5px;
    border-radius: 5px;
    color: white;
    transition-duration: .3s;
    display: inline-block;
}

.buy-now:hover{
    color: red;
    background-color: rgb(211, 181, 181);
}

.buy-now:active{
    color: white;
    background-color: rgb(246, 25, 25);
}

/* just upperside of footer in product page */
.conect{
    background-color: grey;
    padding: 10px;
    font-size:20px;
    font-family: 'Lato', sans-serif;
    font: bolder;
    word-spacing: 5px;
    letter-spacing: .2px;
    text-transform: capitalize;
    margin-bottom: 10px;
    line-height: 2rem;
}




/* icons style */

.icons-container{
    column-gap: 20px;
    margin-bottom: 10px;
}

.icons{
    display: inline-block;
    padding: 10px;
    text-decoration: none;
    transition-duration: .5s;
    transform: scale(2);
}

.icons:hover{
    transform: scale(2.5);
}